variable "region" { }
variable "stack_name" { }
variable "service_name" { }
variable "owner" { }
variable "env" {}
variable "ami" {}
variable "template" {}
variable "SSHKeyName" { }

{{if exists "/config"}}
{{range gets "/config/*"}}variable "{{base .Key}}" {{"{"}}{{"}"}}{{end}}
{{end}}

# Configure the AWS Provider
provider "aws" {
    region = "${var.region}"
}

resource "aws_cloudformation_stack" "deploy" {
  name = "${var.stack_name}"
  capabilities = [ "CAPABILITY_IAM" ]
  disable_rollback = true
  template_body = "${file(var.template)}"
  parameters = {
    Environment = "${var.env}"
    SSHKeyName = "${var.SSHKeyName}"
    ServiceName = "${var.service_name}"
    TechnicalOwner = "${var.owner}"
    AmiId = "${var.ami}"
{{if exists "/config"}}
{{range gets "/config/*"}}    {{base .Key}} = "${{"{"}}var.{{base .Key}}}"{{end}}
{{end}}
  }
}
